@model Category
@{
   
}
    <div class="display-5 ms-5 text-black"> Details</div>
<div class="row m-5 ">

    <div class="col-6 overflow-hidden me-5 ">

        <img src="@("~/Image/"+Model.ImageName)" class="border-5 border-black" alt="Category image. " asp-append-version="true" />
        </div>



    <div class="col-5 align  ">
        <div class="display-5  align-self-baseline row text-black">@Model.Name</div>
        <div class="mt-3 row h5"><blockquote><p>@Model.Disc</p><p>@Model.Disc</p><p>@Model.Disc.Substring(20,40)</p></blockquote></div>
        <div class="row  align-self-end align-items-lg-end">
            <div class="col-6 ">
                <a asp-controller="Category" asp-action="Index" class="btn btn-primary rounded-1  ">Edit</a>
                
                </div>
            <div class="col-6 text-end align-self-end">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary rounded-1 ">Go To List</a>
                </div>
            </div>
        </div>
    </div>